@import "bootstrap/scss/bootstrap.scss";
@import "joy-ui/style.scss";
body, html {
    height: 100%;
}

.card{
    .card-header{
        position: relative;
        .sub-header {
            position: absolute;
            transform: translateY(-2.5rem);
            padding: 0.5rem;
            .card-icon{
                vertical-align: middle;
                margin: auto 0.5rem;
            }
            .breadcrumb{
                background-color: transparent;
                margin: 0;
                padding: 0;
            }
        } 
    }
    .card-body {
        .data-table{
            .evenRow,
            .oddRow {
                &.selected, &:hover{
                    background-color: $gray-200;
                }

                &.highlight{
                    background-color: $gray-300;
                }
            }

            .oddRow {
                background-color: #fafafa;
            }
        }
    }
}

